body {
    /* margin-top: 20px; */
    margin-bottom: 20px;
    background-color: lightblue;
}

.jumbotron {
    text-align: center;
    width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

label {
    font-weight: bold;
}

.col-form-label {
    font-weight: normal;
}

#wrapper {
    width: 500px;
}