body {
    /* margin-top: 20px; */
    margin-bottom: 20px;
    background-color: #FFA0BA;
    font-family: 'Poppins', sans-serif;
    /* font-size: 16px; */
}

#logo {
    width: 300px;
    margin-bottom: 20px;
    /* height: 300px; */
}

.jumbotron {
    text-align: center;
    background-color: white;
}

label {
    font-weight: bold;
}

.col-form-label {
    font-weight: normal;
}

@media (min-width: 500px) {
    #wrapper {
        width: 500px;
    }
}