body {
    margin-bottom: 40px;
    background-color: #FFA0BA;
    font-family: 'Poppins', sans-serif;
}

#logo {
    width: 300px;
    margin-bottom: 20px;
    /* height: 300px; */
}

.jumbotron {
    text-align: center;
    background-color: white;
}

label {
    font-weight: bold;
}

#submit {
    border: 1px solid black;
}

.col-form-label {
    font-weight: normal;
}


#alert-modal .modal-header {
    background-color: red;
    color: white;
    font-size: 14px;
}

#submitted {
    text-align: center;
    width: 100%;
}

@media (min-width: 500px) {
    #wrapper, #login {
        width: 500px;
    }
}